[submodule "Carthage/Checkouts/Base32"]
	path = Carthage/Checkouts/Base32
	url = https://github.com/mattrubin/Base32.git
[submodule "Carthage/Checkouts/xcconfigs"]
	path = Carthage/Checkouts/xcconfigs
	url = https://github.com/jspahrsummers/xcconfigs.git
